@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon+SC&family=IM+Fell+Great+Primer&display=swap');

body{
    overflow-x:hidden ;
}
.pazmain{
    display: flex;
    flex-direction: column;
    height: 80vh;
}

.pazhead{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.pazright{
    display: flex;
    padding-top: 15px;
    padding-right: 30px;
    text-align: justify;
    align-items: center;
    width: 40%;
    font-size: 1.75rem;
    font-family: 'IM Fell French Canon SC', serif;
}
.pazleft{
    padding-top: 15px;
    display: flex;
    justify-content: center;
    width: 50%;
}
.pazleft img{
    width: 70%;
}