@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon+SC&family=IM+Fell+Great+Primer&display=swap');

@media screen and (max-width:800px) {
    main{
        flex-direction: column;
    }
    .left, .side{
        min-width: 100%;
    }
}

.main{
    display: flex;
    width: 100vw;
}
.map{
    width: 100%;
    margin: 2rem;
}
.left{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
.right{
    width: 50%;
    display: flex;
    font-size: 2rem;
    align-items: left;
    margin-left: 3rem;
    justify-content: center;
    flex-direction: column;
}

.right p, h3{
    font-family: 'IM Fell French Canon SC', serif;
    margin-bottom: 0.75rem;
}
.right h3{
    font-family: 'IM Fell Great Primer', serif;
}
.left a{
    font-family: 'IM Fell Great Primer', serif; 
}
.left a:hover{
    color: rgb(44, 133, 221);
    transition: 1s ease;
}
.hrefs{
    font-family: 'IM Fell French Canon SC', serif;
    margin-bottom: 0.75rem;
}