@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon+SC&family=IM+Fell+Great+Primer&display=swap');


*{
    margin: 0;
    padding: 0;
}

@media screen and (max-width:700px) {
      #nav{
          display: none;
      }
      #nav-sm{
        display: block;
    }
    
}

.nav{
    min-height: 50px;
    height: 15vh;
    width: 100vw;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.1);
    font-family: "IM FELL French Canon SC", sans-serif;
}
.nav{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    align-items: center;
    font-size: 1.3rem;
  
}
a{
    font-weight: bold;
    color: black;
    text-decoration: none;
}
.logo{
    min-height: 50px;
    height: 16vh;
}
.icon-small{
    border: none;
    background-color: transparent;
    position: relative;
    font-size: 3rem;
    transition: 1s ease;
    background-color: rgba(255, 255, 255, 0.6);
    width: 100vw;
}
.icon-small:hover{
    transition: 1s ease;
    color: rgb(196, 193, 193);
    cursor: pointer;
}
.nav-sm{
    display: none;
    position: relative;
}
.nav-sma{
    z-index: 1100;
    position: absolute;
    top: 20%;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.9);
    top: 3rem;
    right: 0;
    width: 100vw;
    font-size: 2rem;
    text-align: center;
}
.items-sm{
    margin-top: 5px;
    padding-top: 5px;
    margin-bottom: 5px;
}